Accessing data with pandas

In [2]:
import pandas as pd 
people = pd.read_csv('people-100.csv')

In [ ]:
display(people.head())

In [ ]:
people.sample(10,random_state=1 ) # Display 10 random rows

In [21]:
people.loc[4:8]    # Display rows 4 to 8 inclusive

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
5,6,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,2015-10-28,Waste management officer
6,7,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,1989-01-22,Intelligence analyst
7,8,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,1924-03-26,Hydrogeologist
8,9,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,2018-10-06,Lawyer

In [ ]:
people.iloc[4:8]   # Display rows 4 to 7 exclusive of 8

In [ ]:
people.loc [1,""]